body {
    background-color: #eefdff;
    font-family: "Nobile", serif;
}

.container {
    display:flex;
    width: 900px;
    padding: 40px;
    margin: 40px auto;
    background-color: #dcf6ff;
    border-radius: 8px;
}


.headshot img{
    width: 230px;  /* Set width */
    height: auto;  /* Set height */
    border-radius: 4px;
    
  }

  .headshot {
    margin-left: 0px!important; 
    margin-top: 0px;
  }

h1 {
    font-family: "Oxygen", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 32px;
  margin-top: 0px;
  

}

h2 {
    font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;


}

h3 {
    font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;


}

h4 {
    font-family: "Oxygen", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;

}

p {
    font-family: "Nobile", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;


}