body {
    background-color: #eefdff;
    font-family: "Nobile", serif;
}

.container {
    display:flex;
    width: 900px;
    padding: 20px;
    margin: 40px auto;
    background-color: #dcf6ff;
    border-radius: 8px;
}

h1 {
    font-family: "Oxygen", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 32px;

}

h2 {
    font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;


}

h3 {
    font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;


}

h4 {
    font-family: "Oxygen", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;

}

p {
    font-family: "Nobile", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;


}